.todo {
   display: flex;
   gap: 25px;
   padding: 1.25rem 1.5rem;
   border-bottom: 1px solid var(--outline-col);
   align-items: center;
   cursor: move;

   .checkbox {
      width: 20px;
      aspect-ratio: 1/1;
      outline: 1px var(--dark-very-dark-grayish-blue) solid;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 150ms background-color ease;
      position: relative;
      background-color: var(--todo-container);
      z-index: 1;
   }

   .checkbox::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 100%;
      z-index: -1;
   }

   > img {
      opacity: 0;
      margin-left: auto;
      transition: 150ms ease-in;
   }

   .checkbox:hover,
   img:hover {
      cursor: pointer;
   }

   .checkbox.checked {
      background: linear-gradient(120deg, #b37fff, #74b7f7);
   }
}

.todo.completed {
   text-decoration: line-through;
   color: var(--text-color-lighter);
}

.todo.dragging {
   opacity: 1;
}

.todo:hover {
   
   > img {
      opacity: 1;
   }
}
