.todo {
   display: flex;
   gap: 25px;
   padding: 1.25rem 1.5rem;
   border-bottom: 1px solid var(--dark-very-dark-grayish-blue);
   align-items: center;

   .checkbox {
      width: 20px;
      aspect-ratio: 1/1;
      outline: 1px var(--dark-very-dark-grayish-blue) solid;
      border-radius: 100%;
      background-color: linear-gradient(45deg, red, blue) !important;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 150ms background-color ease;
   }

   > img {
      opacity: 0;
      margin-left: auto;
      transition: 150ms ease-in;
   }

   .checkbox:hover,
   img:hover {
      cursor: pointer;
   }

   .checkbox.checked {
      background: linear-gradient(120deg, #b37fff, #74b7f7);
   }
}

.todo:hover {
   
   > img {
      opacity: 1;
   }
}
