@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
	/* TEXT */
	--pale-violet: hsl(276, 100%, 81%);
	--moderate-violet: hsl(276, 55%, 52%);
	--desaturated-dark-violet: hsl(271, 15%, 43%);
	--grayish-blue: hsl(206, 6%, 79%);
	--very-dark-desaturated-violet: hsl(271, 36%, 24%);
	--dark-grayish-violet: hsl(270, 7%, 64%);

	/* SECONDARY */
	--white: hsl(0, 0%, 100%);
	--light-grayish-violet: hsl(270, 20%, 96%);
	--very-dark-desaturated-violet: hsl(271, 36%, 24%);
	--very-light-magenta: hsl(289, 100%, 72%);

	/* LINEAR GRADIENT */
	--light-magenta: hsl(293, 100%, 63%);
	--light-violet: hsl(264, 100%, 61%);
	--linear-gradient: linear-gradient(
		to right,
		var(--light-violet),
		var(--light-magenta)
	);

	font-family: 'Rubik', sans-serif;
	font-size: 16px;
}

body {
	background-color: var(----light-grayish-violet);
	height: 100vh;
	opacity: 0.8;
	background: linear-gradient(90deg, hsl(293, 100%, 63%) 40%, transparent 0%)
}

main {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10rem;
}

* {
	border: 0;
	padding: 0;
	margin: 0;
	font-family: inherit;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.hero-container {
	width: 30%;
}

.hero-container h1 {
	font-weight: 500;
	color: var(--very-dark-desaturated-violet);
	padding-bottom: 2rem;
	font-size: 2.5rem;
}

.hero-container p {
	font-weight: 300;
	color: var(--dark-grayish-violet);
	font-size: 1.12rem;
}
