@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
	--very-dark-gray: hsl(0, 0%, 17%);
	--dark-gray: hsl(0, 0%, 59%);

	font-family: 'Rubik', sans-serif;
	font-size: 18px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font-family: inherit;
	transition: 100ms;
}

body {
	background-color: var(--light-grayish-blue);
	color: var(--white);
	height: 100vh;
}

main, .container {
	height: 100%;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.container {
	display: flex;
	flex-direction: column;
}

#map {
	flex: 1;
}

.tracker {
	background-image: url('../assets/images/pattern-bg-desktop.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	color: white;
	position: relative;
	display: flex;
	flex-direction: column;
}

.tracker > h1 {
	font-weight: 300;
	text-align: center;
	padding: 2rem 0;
}

.search-location {
	display: flex;
	height: 50px;
	width: 500px;
	margin: 0 auto;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

.search-location input {
	border: 0;
	font-size: 0.9rem;
	text-indent: 1.2rem;
	display: flex;
	padding: 0;
	flex: 1;
}

.search-location input::placeholder {
	content: 'Search for any IP address or domain';
}

.search-location > .submit {
	background-color: black;
	padding: 0 1.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 150ms;
}

.search-location > .submit:hover {
	cursor: pointer;
	background-color: gray;
}

.search-location > .submit:active {
	background-color: black;
}

.search-location input:focus {
	border: 0;
	outline: 0;
}

.results {
	min-height: 50%; /* Adjust the min-height as needed */
	display: grid;
	width: clamp(200px, 90%, 1200px);
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%); /* Keep the top position fixed */
	z-index: 1000;
	background-color: white;
	color: black;
	padding: 2rem;
	gap: 4rem;
	border-radius: 10px;
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
}

.results > div {
	padding-left: 1.5rem;
	border-left: 1px solid var(--dark-gray);
}
.results > div:first-child {
	border: 0;
}

.results .subheading {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.8rem;
	letter-spacing: 2px;
	color: var(--dark-gray);
}

.results .output {
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 1.25rem;
	padding-top: 0.5rem;
}
@media screen and (max-width: 1208px) {
	.results {
		transform: translate(-50%, 50%);
		gap: 2rem;
	}
	.results > div {
		border: 0;
	}
}

@media screen and (max-width: 604px) {
	.results {
		transform: translate(-50%, 65%);
		gap: 1.5rem;
		text-align: center;
	}
	.tracker h1 {
		font-size: 1.5rem;
		font-weight: 500;
	}

	.results div {
		padding: 0;
	}

	.search-location {
		width: 90%;
	}

	.search-location input::placeholder {
		content: "Search Results" !important;
	}

	.results .subheading {
		font-size: 0.65rem;
	}

	.results .output {
		font-size: 1rem;
	}
}