@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
	/* PRIMARY */
	--very-dark-blue: hsl(233, 47%, 7%);
	--dark-desaturated-blue: hsl(244, 38%, 16%);
	--soft-violet: hsl(277, 64%, 61%);

	/* NEUTRAL */
	--white: hsl(0, 0%, 100%);
	--slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
	--slightly-transparent-white: hsla(0, 0%, 100%, 0.6);

	/* TYPOGRAPHY */
	font-size: 15px;
	font-family: var(--inter);
	font-weight: 400;

	--inter: 'Inter', sans-serif;
	--lexend-deca: 'Lexend Deca', sans-serif;
}


.attribution {
	font-size: 11px;
	text-align: center;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

body {
	height: 100vh;
	box-sizing: border-box;
	background-color: var(--very-dark-blue);
	color: var(--white);
	position: relative;
	margin: 0;
	overflow-x: hidden;
}

.container {
	width: 1050px;
	max-width: 100%;
	height: 440px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--dark-desaturated-blue);
	border-radius: 10px;
	overflow: hidden;
	box-sizing: border-box;
}

.wrapper {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(2, 1fr);
}

.img-container {
	position: relative;
	overflow: hidden;
}

.img-container::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: hsla(277, 77%, 40%, 0.3);
	filter: saturate(170%) contrast(200%);
}

.main-content {
	height: auto;
	margin: 3rem 5rem;
	display: flex;
	flex-direction: column;
}

.main-content h1 {
   font-size: clamp(1.9rem, 4vw, 2.3rem);
}

.main-content h1 > span {
	color: var(--soft-violet);
}

.main-content > p,
.stats-preview > div > span {
	color: var(--slightly-transparent-white);
}

.stats-preview > div > h1 {
   font-size: 1.7rem;
}

.stats-preview > div > span {
   font-size: 0.85rem;
}

.stats-preview {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

@media screen and (max-width: 870px) {
   body {
      margin: 0 20px;
   }

   .container {
      width: 450px;
      margin-bottom: 100px;
      min-height: 790px;
      top: 70%;
   }

   .wrapper {
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr;
      max-width: 100%;
      max-height: 100%;
   }

   .img-container {
      order: -1; 
      width: 100%;
      aspect-ratio: 16/9;
   }

   .img-container > img {
      width: 100%;
   }

   .main-content {
      margin: 0;
      padding: 0 3rem;
      order: 1;
      margin-top: 1rem;
   }

   .main-content > p, .main-content > h1 {
      text-align: center;
   }

   .stats-preview {
      flex-direction: column;
      font-size: 0.8rem;
      margin: 0 auto;
      gap: 20px;
   }
}

