@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
	/* TYPOGRAPHY */
	--inter: 'Inter', sans-serif;
	font-size: 15px;
	font-family: var(--inter);

	/* PRIMARY */
	--soft-orange: hsl(35, 77%, 62%);
	--soft-red: hsl(5, 85%, 63%);

	/* NEUTRAL */
	--off-white: hsl(36, 100%, 99%);
	--grayish-blue: hsl(233, 8%, 79%);
	--dark-grayish-blue: hsl(236, 13%, 42%);
	--very-dark-blue: hsl(240, 100%, 5%);

	background-color: var(--off-white);
	color: var(--very-dark-blue);
}

::selection {
	background-color: var(--very-dark-blue);
	color: var(--soft-red);
}

::-webkit-scrollbar-thumb {
	background-color: var(--soft-red);
	border-radius: 6px;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background-color: var(--very-dark-blue);
}

body {
	margin: 0;
	padding: 0 clamp(0.5rem, 1rem, 10rem);
	padding-bottom: 10rem;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	position: relative;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: var(--soft-orange);
}

/* LAYOUT */

.main-container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	overflow-x: hidden;
	position: relative;
}

nav {
	justify-content: space-between;
	margin-top: 6rem;
	font-size: 1rem;
}

.burger-menu {
	display: none;
}

.nav-links {
	gap: 4rem;
	margin-right: 1rem;
	align-items: center;
}

nav,
.nav-links,
.news,
.news-item,
.call-to-action,
main section:first-child {
	display: flex;
}

main section:first-child {
	margin-top: 3rem;
}

.hero {
	display: grid;
	grid-template-rows: 1fr;
}

main section:last-child {
	margin-top: 5rem;
}

.hero-container {
	display: flex;
	margin-right: 2rem;
   flex-direction: column;
}

.img-container {
	background-image: url(./assets/images/image-web-3-desktop.jpg);
	width: 100%;
	min-height: 59%;
	background-repeat: no-repeat;
	background-size: contain;
   flex-grow: 1;
}

.aside {
	padding: 2rem;
	box-sizing: border-box;
	flex-shrink: 0;
	width: 30%;
}

.aside > h1 {
	margin: 0.5rem 0;
}

.hero {
	margin: 1rem 0;
	grid-template-columns: 1.3fr 1fr;
	align-items: center;
}

.hero > h1 {
	margin: 0;
	font-weight: 800;
}

.news {
	width: 100%;
	justify-content: space-between;
}

footer {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 2rem 0;
	width: 100%;
}

.call-to-action {
	flex-direction: column;
}

.call-to-action > button {
	margin-top: auto;
	width: 60%;
	border: 0;
	padding: 20px 40px;
	outline: 0;
}

.news-item {
	gap: 1rem;
	width: 432px;
	max-width: 100%;
}

.news {
	gap: 1rem;
	margin: 0 auto;
	margin-bottom: 1rem;
	height: auto;
	box-shadow: border-box;
}

.news-item .items > h1,
.news-item .items > p,
.news-item .items > h2 {
	margin: 0;
}

.news-item .items > p {
	margin-top: 1rem;
}

.news-item .items > h2 {
	margin-top: 0.5rem;
}

/* TYPOGRAPHY */

.hero > h1 {
	font-size: clamp(calc(4rem * 0.75), 4vw, 4rem);
}

.aside > h1 {
	font-size: clamp(calc(2.5rem * 0.75), 4vw, 2.5rem);
}

.aside-item > p {
	color: var(--grayish-blue);
}

.call-to-action > p {
	font-size: clamp(calc(1.1rem * 0.75), 10vw, 1.1rem);
}

.call-to-action > button {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 700;
}

.nav-item {
	letter-spacing: 2px;
}

.news-item .items > h1 {
	font-size: 2.5rem;
	color: var(--grayish-blue);
}

.news-item .items > h2 {
	font-size: 1.5rem;
	color: vvar(--dark-grayish-blue);
}
/* COLOURS */

.aside {
	background-color: var(--very-dark-blue);
	color: var(--off-white);
	height: 610px;
	overflow-y: scroll;
}

.aside > h1 {
	color: var(--soft-orange);
}

.aside-item {
	border-bottom: var(--dark-grayish-blue) 1px solid;
}

.call-to-action > button {
	background-color: var(--soft-red);
	color: var(--off-white);
}

footer {
	background-color: var(--soft-red);
	color: var(--off-white);
}

/* ANIMATIONS/EFFECT */
.nav-item,
.call-to-action > button,
.call-to-action > button > span,
.burger-item {
	transition: all 200ms;
	position: relative;
}

.call-to-action > button > span {
	display: block;
}

.call-to-action > button::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	background-color: var(--off-white);
	height: 100%;
	width: 100%;
	border: 1px solid var(--soft-red);
	transition: 250ms ease-in-out;
}

.call-to-action > button > span::before {
	content: 'Read More';
	position: absolute;
	white-space: pre;
	display: inline;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--soft-red);
	background-color: var(--off-white);
	transition: 200ms linear;
	opacity: 0;
}

.call-to-action > button:hover::before,
.call-to-action > button:hover > span::before {
	transform: translate(-50%, -50%) scale(1.05);
	cursor: pointer;
	opacity: 1;
}

.call-to-action > button:active::before,
.call-to-action > button:active > span::before {
	transform: translate(-50%, -50%) scale(1);
	cursor: pointer;
	opacity: 1;
	letter-spacing: 10px;
}

.nav-item:hover {
	cursor: pointer;
	transform: translateY(-20%) scale(1.02);
	color: var(--soft-red);
	letter-spacing: 3px;
}

.burger-item:hover {
   color: var(--soft-red);
   cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--soft-orange);
}

/* BURGER MENU */

.burger-nav {
   position: fixed;
   width: 70vw;
   height: 100vh;
   z-index: 100;
   background-color: var(--off-white);
   top: 0;
   right: 0;
   display: flex;
   flex-direction: column;
   padding: 0 2rem;
   padding-top: 3rem;
   box-sizing: border-box;
   box-shadow: -19px 0px 26px 0px rgba(0,0,0,0.2);
   display: none;
}

.close-menu {
   align-self: flex-end;
}

.close-menu:hover {
   cursor: pointer;
}

.burger-links {
   font-size: 1.6rem;
   line-height: 4rem;
   margin-top: 4rem;
}

@media screen and (max-width: 1000px) {
	body {
		padding-bottom: 10rem;
	}

   nav {
      margin-top: 3rem;
   }

	main section:first-child {
		flex-direction: column;
	}

	.hero-container,
	.aside {
		width: 100%;
	}

	.hero-container {
		margin: 0;
		padding: 0;
		flex-direction: column;
	}

	.hero-container .img-container {
		background-size: cover;
	}

	.img-container {
		height: 300px;
	}

	.hero {
		gap: 2rem;
		margin: 4rem 0;
	}

	.hero > h1 {
		text-align: center;
	}

	.nav-links {
		gap: 1.5rem;
	}

	.call-to-action > button {
		width: 250px;
	}

	.news {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}

@media screen and (max-width: 1040px) {
	.hero {
		display: inline-block;
	}
}

@media screen and (max-width: 700px) {
   nav div img {
      width: 60px;
   }

	.burger-menu {
		display: flex;
		justify-content: center;
		align-items: center;
	}

   .burger-menu:hover {
      cursor: pointer;
   }

   .burger-menu > img {
      width: 40px;
   }

	.img-container {
		background-size: auto;
	}

	.nav-links {
		display: none;
	}

	.hero {
		margin: 3rem 0;
	}
}
