@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
:root {
  /* Layout */
  --mobile-width: 375px;
  --desktop-width: 1440px;
  /* Primary Colors */
  --primary-bright-blue: hsl(220, 98%, 61%);
  --primary-check-background: linear-gradient(
  	to right,
  	hsl(192, 100%, 67%),
  	hsl(280, 87%, 65%)
  );
  /* Light Theme Colors */
  --light-very-light-gray: hsl(0, 0%, 98%);
  --light-very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-light-grayish-blue: hsl(233, 11%, 84%);
  --light-dark-grayish-blue: hsl(236, 9%, 61%);
  --light-very-dark-grayish-blue: hsl(235, 19%, 35%);
  /* Dark Theme Colors */
  --dark-very-dark-blue: hsl(235, 21%, 11%);
  --dark-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --dark-light-grayish-blue: hsl(234, 39%, 85%);
  --dark-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-dark-grayish-blue: hsl(234, 11%, 52%);
  --dark-very-dark-grayish-blue: hsl(233, 14%, 35%);
  --dark-very-dark-grayish-blue-2: hsl(237, 14%, 26%);
  /* Current Theme */
  --main-bg: var(--dark-very-dark-blue);
  --text-color: var(--dark-light-grayish-blue);
  --text-color-lighter: var(--dark-dark-grayish-blue);
  --todo-container: var(--dark-very-dark-desaturated-blue);
  /* Typography */
  --body-font-size: 18px;
  --body-font-family: "Josefin Sans", sans-serif;
  --body-font-weight-normal: 400;
  --body-font-weight-bold: 700;
  font-size: var(----body-font-size);
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight-normal);
}

* {
  padding: 0;
  margin: 0;
  font-family: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  position: relative;
  background-color: var(--main-bg);
  color: var(--text-color);
  background-image: url(../images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
main > .container {
  padding-top: 7.5rem;
  width: clamp(340px, 90%, 540px);
}
main > .container .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
main > .container .header h1 {
  letter-spacing: 14px;
  font-size: 2rem;
  color: white;
  font-weight: var(--body-font-weight-bold);
}
main > .container .header img {
  width: 20px;
  aspect-ratio: 1/1;
}
main > .container > p {
  padding-top: 3rem;
  text-align: center;
  color: var(--dark-very-dark-grayish-blue-2);
}

.newtodo {
  display: flex;
  background-color: var(--dark-very-dark-desaturated-blue);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
  padding: 0 1.5rem;
  border-radius: 5px;
}
.newtodo input {
  width: 100%;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 300;
  border: 0;
  border-radius: 5px;
  padding: 1rem 0;
}
.newtodo input::placeholder {
  color: var(--text-color-lighter);
}
.newtodo input:focus {
  outline: 0;
  border: 0;
}
.newtodo .checkbox {
  height: 20px;
  aspect-ratio: 1/1;
  outline: 1px var(--dark-very-dark-grayish-blue) solid;
  border-radius: 100%;
}

.animate {
  animation-duration: 300ms;
}

.animate--slow {
  animation-duration: 600ms;
}

.animate--fast {
  animation-duration: 150ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.scaleIn {
  animation-name: scaleIn;
  animation-timing-function: ease-in-out;
}

.fadeIn {
  animation-name: fadeIn;
  animation-timing-function: ease-in-out;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.todos-wrapper {
  background-color: var(--todo-container);
  border-radius: 5px;
  box-shadow: 0px 40px 40px 24px rgba(0, 0, 0, 0.1);
}

.todo-state-container {
  display: none;
  justify-content: space-between;
  padding: 1.25rem 1.5rem;
  font-size: 0.75rem;
  color: var(--text-color-lighter);
}
.todo-state-container .state {
  display: flex;
  gap: 1rem;
}

.todo {
  display: flex;
  gap: 25px;
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid var(--dark-very-dark-grayish-blue);
  align-items: center;
}
.todo .checkbox {
  width: 20px;
  aspect-ratio: 1/1;
  outline: 1px var(--dark-very-dark-grayish-blue) solid;
  border-radius: 100%;
  background-color: linear-gradient(45deg, red, blue) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 150ms background-color ease;
}
.todo > img {
  opacity: 0;
  margin-left: auto;
  transition: 150ms ease-in;
}
.todo .checkbox:hover,
.todo img:hover {
  cursor: pointer;
}
.todo .checkbox.checked {
  background: linear-gradient(120deg, #b37fff, #74b7f7);
}

.todo:hover > img {
  opacity: 1;
}