@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

:root {
  /* Layout */
  --mobile-width: 375px;
  --desktop-width: 1440px;

  /* Colors */
  --primary-color: hsl(180, 29%, 50%);
  --background-color: hsl(180, 52%, 96%);
  --filter-tablets-color: hsl(180, 31%, 95%);
  --dark-grayish-cyan-color: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan-color: hsl(180, 14%, 20%);

  /* Typography */
  --font-size: 15px;
  --font-family: 'League Spartan', sans-serif;
  --font-weight-normal: 500;
  --font-weight-thicc: 700;

  background-color:  var(--background-color);
  color: black;

  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size);
}