.step-2-wrapper {
	padding: 3rem 7rem 0rem 7rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.step-2-wrapper button {
	margin-top: auto;
	align-self: flex-end;
	background-color: var(--marine-blue);
	color: var(--white);
	font-size: 1rem;
	padding: 0.75em 1.5em;
	border-radius: 5px;
   margin-bottom: 2rem;
}

.step-2-wrapper h1 {
	color: var(--marine-blue);
	font-size: 2.1rem;
	padding-bottom: 0.5rem;
}

.step-2-wrapper p {
	color: var(--cool-gray);
}

.step-2-wrapper button:hover {
	opacity: 0.9;
}

.selection-container {
   padding-top: 2rem;
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.extra {
   display: flex;
   align-items: center;
   outline: 1px var(--purplish-blue) solid;
   padding: 1rem;
   border-radius: 10px;
}

.extra .price {
   color: var(--purplish-blue);
   font-weight: 500;
   margin-left: auto;
}