.plan-container {
   width: 100%;
   justify-content: space-between;
   gap: 1rem;
   padding: 3rem 0;
   display: flex;
}

.plan {
   outline: 1px var(--light-gray) solid;
   max-height: 11rem;
   width: 30%;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   padding: 1rem 1.2rem;
   transition: all 100ms ease-in-out;
}

.plan:hover {
   cursor: pointer;
   transform: scale(1.03) translateY(-4%);
   outline: 1px solid var(--purplish-blue);
}

.plan:active {
   cursor: pointer;
   transform: scale(1);
}

.plan.active {
   outline: 1px solid hsl(243, 73%, 32%);
   transform: scale(1);
   background-color: var(--extras);
}

.plan img {
   width: 45px;
}

.plan .title {
   margin-top: auto;
   color: var(--marine-blue) !important;
   font-weight: 700;
   padding-top: 3rem;
}

.plan .price {
   font-size: 0.8rem;
   padding-top: 0.2rem;
   color: var(--cool-gray);
}

.toggle-planbilling {
   display: flex;
   width: 100%;
   justify-content: center;
   background-color: var(--extras);
   padding: 0.7rem 0;
   border-radius: 10px;
   gap: 1rem;
}

.toggle-planbilling p {
   font-weight: 500;
}

.toggle-planbilling > .monthly {
   color: var(--marine-blue);
}

.toggle-btn {
   background-color: var(--marine-blue);
   width: 40px;
   border-radius: 100px;
   overflow: hidden;
   padding: 0.25rem;
   display: flex;
}

.toggle-btn.yearly {
   background-color: var(--marine-purple);
}

.toggle-btn.yearly > .circle {
   left: 50%;
}

.toggle-btn.montly > .circle {
   left: 0%;
}

.toggle-btn:hover {
   cursor: pointer;
}

@keyframes fadeIn {
   0% {
      opacity: 0;
      transform: scale(0);
   }

   50% {
      transform: scale(1.1);
   }

   60% {
      transform: scale(1);
   }

   100% {
      opacity: 1;
   }
}

.yearly-freebie {
   font-size: 0.7rem;
   font-weight: 700 !important;
   color: var(--marine-blue) !important;
   padding-top: 0.4rem;
   animation-name: fadeIn;
   animation-duration: 600ms;
   animation-timing-function: ease-in-out;
}

.toggle-btn > .circle {
   width: 15px;
   aspect-ratio: 1/1;
   background-color: var(--white);
   border-radius: 100px;
   position: relative;
   transition: all 150ms ease-in-out;
   left: 0;
}

@media screen and (max-width: 655px) {
   .plan-container {
      flex-direction: column;
      padding: 1.2rem 0;
   }

   .plan, .plan.active {
      width: 100%;
      flex-direction: row;
      align-items: center;
   }

   .plan > div {
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      justify-self: flex-start;
   }

   .plan .title {
      padding: 0;
      margin: 0;
   }

   .yearly-freebie {
      margin-left: auto;
      font-size: 0.7rem !important;
   }
}