.addons-container {
   padding-top: 3rem;
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.extra {
   display: flex;
   align-items: center;
   outline: 1px var(--cool-gray) solid;
   padding: 1.5rem;
   border-radius: 10px;
   color: var(--marine-blue);
}

.extra p {
   color: var(--marine-blue);
}

.extra .price {
   color: var(--purplish-blue);
   font-weight: 500;
   margin-left: auto;
}

.service {
   padding-left: 1.5rem;
}

.service p:first-child {
   font-weight: 700;
   color: var(--marine-blue);
   font-size: 1rem;
}

.extra .checkbox > img {
   display: none;
}

.extra .checkbox {
   outline: 1px var(--cool-gray) solid;
   width: 23px;
   aspect-ratio: 1/1;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.extra:hover {
   outline: 2px var(--marine-blue) solid;
   cursor: pointer;
}

.extra .checkbox:hover {
   cursor: pointer;
}

@keyframes scaleIn {
   0% {
      opacity: 0;
   }

   10% {
      transform: scale(0);
   }

   60% {
      transform: scale(1.05);
   }

   100% {
      transform: scale(1);
      opacity: 1;
   }
}

.extra .checkbox.checked {
   background-color: var(--purplish-blue);
   animation-name: scaleIn;
   animation-duration: 200ms;
}

.extra.checked {
   outline: 2px solid hsl(213, 96%, 18%);
   background-color: hsl(230, 75%, 98%);
}

.checkbox.checked

.extra .checkbox:hover {
   cursor: pointer;
}

@media screen and (max-width: 655px){
   .addons-container {
      padding: 2rem 0 1rem 0;
      gap: 1rem;
   }

   .extra > .service {
      padding-left: 1rem;
      margin: 0;
   }

   .extra > .service p:first-child{
      font-size: 0.9rem !important;
   }

   .extra > .service p:last-child{
      font-size: 0.7rem !important;
   }

   .extra, .extra.checked {
      padding:0.75rem 1rem;
   }

   .extra .price {
      font-size: 0.9rem;
   }
}