@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
	font-size: 18px;
	font-family: 'Kumbh Sans', sans-serif;
	font-weight: 400;

	--dark-cyan: hsl(185, 75%, 39%);
	--very-dark-desaturated-blue: hsl(229, 23%, 23%);
	--dark-grayish-blue: hsl(227, 10%, 46%);
	--dark-gray: hsl(0, 0%, 59%);
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	background-color: var(--dark-cyan);
    height: 100vh;
}

body::before,
body::after {
	content: '';
	position: fixed;
	width: 50%; /* Divide the width into two equal parts for left and right images */
	height: 50%; /* Divide the height into two equal parts for top and bottom images */
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}

body::before {
	top: 0;
	left: 0;
	background-image: url('./images/bg-pattern-top.svg');
    height: 100%;
    background-size: contain;
}

body::after {
	bottom: 0;
	right: 0;
	background-image: url('./images/bg-pattern-bottom.svg');
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	max-width: 100%;
}

.user-status {
	display: flex;
	justify-content: space-around;
}

.card-wrapper {
	background-color: white;
	box-shadow: 0px 21px 34px 18px rgba(0, 0, 0, 0.1);
	position: relative;
	border-radius: 1rem;
	overflow: hidden;
}

.card-img {
	position: absolute;
	overflow: hidden;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card-img > img {
	border-radius: 100%;
	border: 0.3rem solid white;
}

.user-desc {
	margin-top: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.user-desc .name-age span:first-child {
	font-weight: 700;
}

.user-desc p {
	font-size: 0.9rem;
	margin: 0.4rem 0;
    color: var(--dark-gray);
}

.user-status {
	border-top: hsl(0, 0%, 59%, 0.6) solid 1px;
	margin-top: 1rem;
}

.user-status div:nth-child(1n) {
	width: 25%;
	padding: 1.2rem 0;
}

.user-status div:nth-child(1n) > h1 {
	font-size: 1rem;
	text-align: center;
	margin: 0;
}

.user-status div:nth-child(1n) > p {
	text-align: center;
	font-size: 0.7rem;
	margin: 0.2rem 0;
    color:  var(--dark-gray);
}
