.tip-calculator {
	.input-wrapper {
      p {
         font-size: 0.6rem;
         color: var(--very-dark-cyan-color);
         padding-bottom: 0.3rem;
      }

		div {
         background-color: var(--input);
         display: flex;
         align-items: center;
         padding: 0.25rem 1rem;
         border-radius: 5px;

         input {
            text-align: right;
            direction: ltr;
            border: 0;
            background-color: transparent;
            font-size: 1rem;
            color: var(--very-dark-cyan-color);
            flex: 1;
            width: 100%;
         }

         input:focus {
            border: 0;
            outline: 0;
         }

         input::placeholder {
            color: var(--grayish-cyan-color);
         }
      }
	}

   .tip-percentage {
      padding-top: 1.5rem;
      p {
         font-size: 0.6rem;
         color: var(--very-dark-cyan-color);
         padding-bottom: 0.3rem;
      }
      
      .percentage {
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
         gap: 0.5rem;

         .default-percentage {
            background-color: var(--very-dark-cyan-color);
            color: white;
            text-align: center;
            border-radius: 5px;
            padding: 0.2rem 0.5rem;
            transition: 150ms;
         }

         .default-percentage.active {
            background-color: var(--primary-color);
            color: var(--very-dark-cyan-color);
         }

         .default-percentage:hover {
            cursor: pointer;
            background-color: var(--hover-button);
            color: var(--very-dark-cyan-color);
         }

         .custom {
            background-color: var(--input);
            color: var(--very-dark-cyan-color);
            border: 0;
            direction: ltr;
            text-align: right;
            width: 100%;
            font-size: 0.8rem;
            padding: 0.2rem 0.5rem;
            border-radius: 5px;
            height: 100%;
         }

         .custom:focus, .custom:hover {
            outline: 2px var(--primary-color) solid;
         }

         .custom::placeholder {
            color: var(--very-dark-cyan-color);
         }

         
      }

   }

   .number-of-people {
      p {
         font-size: 0.6rem;
         color: var(--very-dark-cyan-color);
         padding-top: 2rem;
         padding-bottom: 0.3rem;
      }

      div {
         background-color: var(--input);
         display: flex;
         align-items: center;
         padding: 0.25rem 1rem;
         border-radius: 5px;

         input {
            text-align: right;
            direction: ltr;
            border: 0;
            background-color: transparent;
            font-size: 1rem;
            color: var(--very-dark-cyan-color);
            flex: 1;
            width: 100%;
         }

         input:focus {
            border: 0;
            outline: 0;
         }

         input::placeholder {
            color: var(--grayish-cyan-color);
         }
      }

      div.invalid {
         outline: 2px red solid;
      }
   }
}
